<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>极相册同步工具 > 关于我们</title>
    <link rel="icon" href="/client/image/zalbumLogo.png" type="image/png">

    <link rel="stylesheet" href="/client/css/style.css">
    <link rel="stylesheet" href="/client/css/switchButton.css">
    <link rel="stylesheet" href="/client/css/font.css">
    <link rel="stylesheet" href="/client//css/editExtensionControl.css">
</head>

<body>
    <button id="backButton" class="listRowEndButton" style="margin: -10px 0 0 0;">
        <img src="/client/image/chevron.backward.png" class="listRowEndButtonImage"
            style="width: 13px; margin-right: 5px; margin-left: -7px">
        <p class="text" style="color: #007AFF;">极相册同步工具</p>
    </button>

    <div class="centerModule" style="height: 150px; padding: 10px;">
        <img src="/client/image/zalbumLogo.png"
            style="width: 60px; margin-top: 10px; filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.2));">
        <p class="title">极相册同步工具</p>
    </div>

    <div class="module" style="margin-top: 20px;">
        <div class="listRow">
            <p class="text">版本号</p>
            <p class="rightText">1.0.0</p>
        </div>
        <hr>

        <div class="listRow">
            <p class="text">发行日期</p>
            <p class="rightText">2025年1月14日</p>
        </div>
        <hr>

        <div id="zalbumSyncTool" class="listRow">
            <p class="text">项目主页</p>
            <div class="listRowEndButton">
                <p class="rightText">LianJun > 项目 > 极相册同步工具</p>
                <img src="/client/image/chevron.forward.png" class="listRowEndButtonImage"
                    style="width: 8px; margin-right: 0; margin-left: 5px">
            </div>
        </div>
        <hr>

        <div id="gitHubPage" class="listRow">
            <p class="text">GitHub</p>
            <div class="listRowEndButton">
                <p class="rightText">lianjun007/ZalbumSyncTool</p>
                <img src="/client/image/chevron.forward.png" class="listRowEndButtonImage"
                    style="width: 8px; margin-right: 0; margin-left: 5px">
            </div>
        </div>
    </div>

    <div class="module" style="margin-top: 20px;">
        <div id="LianJunHomePage" class="listRow">
            <p class="text">作者</p>
            <div class="listRowEndButton">
                <p class="rightText">LianJun</p>
                <img src="/client/image/chevron.forward.png" class="listRowEndButtonImage"
                    style="width: 8px; margin-right: 0; margin-left: 5px">
            </div>
        </div>
    </div>

    <script>
        document.getElementById("zalbumSyncTool").addEventListener("click", () => {
            fetchdata("zalbumsynctool", "homepage")
        })
        document.getElementById("gitHubPage").addEventListener("click", () => {
            fetchdata("zalbumsynctool", "githubpage")
        })
        document.getElementById("LianJunHomePage").addEventListener("click", () => {
            fetchdata("lianjun", "homepage")
        })

        function fetchdata(para, para2) {
            fetch("https://fetchdata.lianjun.me")
            .then(response => response.json())
            .then(data => {
                window.location.assign(data[para][para2])
            })
        }
    </script>

    <script src="/client/script/style.js"></script>
    <script src="/client/script/aboutWe.js"></script>
</body>

</html>